h1 {
  text-align: center;
}

.form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.form-row {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 0.6rem 0.4rem;
  margin-bottom: 0.8rem;
  min-width: 12rem;
  border-radius: 0.4rem;
  border: none;
}

select {
  margin: 0 0.4rem;
}

.select-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

.warning {
  color: red;
}

.submit-button {
  font-size: 1rem;
  padding: 0.4rem 0.8rem;
  /* border: none; */
  border-radius: 0.4rem;
}
