h1 {
  text-align: center;
}

.form {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
}

input,
select {
  padding: 0.4rem;
  margin-bottom: 0.8rem;
  min-width: 12rem;
}

select {
  margin: 0.4rem;
}

.select-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.8rem;
}

.warning {
  color: red;
}
