.view-div {
  margin: auto;
}

.calendar {
  /* background-color: #92d4c9; */
  border: 12px solid #92d4c9;
}

.fc-multiMonthYear-view
  .fc-view
  .fc-multimonth
  .fc-multimonth-singlecol
  .fc-scroller
  .fc-multimonth-month {
  background-color: #92d4c9;
}
