h1 {
  margin: 2rem auto;
}

.button-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  juatify-content: space-between;
  flex-wrap: wrap;
  gap: 0.8rem;
}

.editing-view-button {
  padding: 0.4rem 1.2rem;
}

.list-button {
  padding: 0.4rem 0.8rem;
}
