.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-sort {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  max-width: 50%;
  margin: 1rem auto;
}

select {
  padding: 0.35rem;
}

.event-date-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem auto;
}

.event-date-filter label {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* .event-date-filter */
.date-picker {
  max-width: 30%;
  padding: 0.35rem;
}

.event-div {
  padding: 0.4rem 1.2rem;
  max-width: 50%;
  margin: 0.8rem auto auto auto;
  border: 2px grey solid;
  border-radius: 0.4rem;
}

.event-div:hover {
  cursor: pointer;
}

.clickable:hover {
  cursor: pointer;
}

@media (width < 800px) {
  /* .event-sort,
  .event-date-filter {
    max-width: 80%;
  } */

  .event-div {
    max-width: 80%;
  }
}
