html,
body {
  height: 100%;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 18vw 1fr;
  min-height: 100dvh;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.view-div {
}

.calendar {
  /* width: 75vw; */
  background-color: skyblue;
  padding: 20px;
}
