.main {
  width: 97vw;
  height: 97vh;
  display: flex;
  /* flex-direction: row; */
}

.menu {
  width: 15vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.view-div {
  width: 80vw;
  height: 98vh;
}

.calendar {
  width: 75vw;
  background-color: skyblue;
  padding: 20px;
}
