.main {
  width: 97vw;
  height: 97vh;
  display: flex;
  /* flex-direction: row; */
}

.menu {
  width: 10vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.view-div {
  /* width: 85vw; */
  /* height: 99vh; */
}

.calendar {
  width: 80vw;
  background-color: skyblue;
  padding: 20px;
}
